body{
    margin: 0;
    width: auto;
    height: 100vh;
}

                        /* mise en forme footer + text*/
.container {
max-width: 90%;
margin: auto;
}

:root{
    color: rgba(210, 210, 210, 1);
}

.container{
    display: flex;
    max-width: 75%;
    margin: auto;
}

.background-footer{
    background-color: rgba(30, 15, 28, 1);
    width:100%;
    height:100%
}

.close-title{
    height: 15%;
}

h2 {
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
}
h3 {
    margin: 0;
    font-family: 'dancing script';
    font-size: 1.8rem;
}

li{
    margin-top: 10px;
    font-family: montserrat ;
}

ul{
    margin-top: 50px;
    list-style-type: none;
    width: 30%;
    height: 90%;
}

.footer-low{
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 1400px;
}


                        /* mise ne forme formulaire */
.contactez-nous {
    height: 450px;
    width: 800px;
    padding: 0 50px 0 50px;
    background: rgba(30, 15, 28, 1);
  }

  h1{
      margin: 0;
  }
  
  form div {
    display: flex;
    flex-direction: column;
  }
  
  form div > label {
    margin-top: 20px;
  }
  
  form div > input, form div > select, form div > textarea {
    background: rgba(210, 210, 210, 1);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Montserrat, "sans-serif";
  }
  
  form div > input, form div > select {
    height: 25px;
    padding-left: 10px;
  }
  
  form div > select {
    appearance: none;
    background-size: 15px;
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
  }
  
  form div > textarea {
    height: 100px;
    padding: 15px 0px 0px 10px;
  }
  
  form div > input::placeholder, form div > textarea::placeholder {
    color: white;
  }
  
  form div > select:invalid {
    color: white;
  }
  
  form div > select option {
    background: white;
    color: #303030;
  }
  
  form div:last-child {
    align-items:center;
    margin-top: 20px;
  }
  
  form button {
    width: 200px;
    max-width: 200px;
    height: 40px;
    font-size: 18px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #303030;
  }

#sujet, button:hover{
      cursor: pointer;
  }
                    
                    /* responsive  */

  @media (max-width: 768px) {

    .container {
        max-width: 90%;
        margin: auto;
        }

    body{
        background-color: rgba(30, 15, 28, 1) ;
    }

    ul{
        height: auto;
    }
    .footer-low{
        display: block;
    }

    .contactez-nous {

        height: 500px;
        width: 600px;
        padding: 50px 50px 0 50px;
        background: rgba(30, 15, 28, 1);
      }
  }
      